set tabsize 2

include "~/.nano/apacheconf.nanorc"
include "~/.nano/conf.nanorc"
include "~/.nano/c.nanorc"
include "~/.nano/html.nanorc"
include "~/.nano/haml.nanorc"
include "~/.nano/perl.nanorc"
include "~/.nano/java.nanorc"
include "~/.nano/python.nanorc"
include "~/.nano/patch.nanorc"
include "~/.nano/js.nanorc"
include "~/.nano/ruby.nanorc"
include "~/.nano/sh.nanorc"
include "~/.nano/tex.nanorc"
include "~/.nano/css.nanorc"
include "~/.nano/php.nanorc"
include "~/.nano/xml.nanorc"
